html, body.index{
    margin: 0;
    height: 100%;
    width: 100%;
}

body.index {
    padding: 0;
    background-color: white;
    font-family: Arial;
    font-size: 12pt;
}

body.index > .container {
    padding: 50px;
    text-align: center;
}

body.index > .container > p,
body.index > .container > a,
body.index > .container > h1 {
    color: black;
}

body.index > .container > a {
    text-decoration: none;
    font-weight: bold;
    display: block;

    margin: 5px;
    padding: 5px;

    border: 1px solid transparent;
    border-radius: 0px;
    transition: 0.1s;
}

body.index > .container > a:hover {
    border: 1px solid black;
    border-radius: 5px;
}

body.index > .container > .register,
body.index > .container > .sign_up {
    display: inline-block;
}

body.index > .container > .register,
body.index > .container > .sign_up { 
    margin: 5px;
    margin-top: 20px;
}

.value {
    width: 1000px;
}

.registerViewText {
    font-size: 50px;
    padding: 20px;
    font-weight: 900;
}

.registerViewButtons{
    margin: 20px;
}

.ui-panelgrid tr {
    margin-bottom: 50px;
}

/*Submenu css*/
.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-text {
    padding-right: 0.4em;
    padding-left: 0.4em;
    margin: 0;
}

.ui-panelgrid {
    border-collapse: separate;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-width: 0;
    border-style: none;
}

.ui-menu.ui-menubar {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 20px;
}

.ui-menuitem:last-child {
    float: right !important;
}

.global-margin-event-components {
    margin-bottom: 20px;
}

.global-margin-event-components-row {
    margin-right: 10px;
}

::placeholder {
    color: gray;
}
.ui-autocomplete-input-token > input {
    width: 100% !important;
}

.ui-autocomplete-token  {
    display: none !important;
}

.ui-datalist-item {
    list-style-type: none;

}

.ui-datalist-data{
    padding-inline-start: 0px;
}

.ui-panel-content .ui-widget-content {
    padding:0 !important;
}

.loginView {
    display:inline-block;
}

.loginView > div {
    display: block;
    margin: 5px;
    padding: 5px;
}

.loginView > div > input {
    display: block;
    margin: 5px auto;
}
