
.index {
    border: 1px solid black;
    border-radius:3px;
    box-shadow: inset 60px 0 120px #dbdbdb, inset -60px 0 120px #dbdbdb;
}


.value {
    width: 1000px;
}

.registerViewText {
    font-size: 50px;
    padding: 20px;
    font-weight: 900;
}


.registerViewButtons{
    margin: 20px;
}

.topAligned {
    vertical-align: top;
}

.ui-panelgrid tr {
    margin-bottom: 50px;
}